[user]
	email = nerijus@intelligentpositioning.com
	name = "Nerijus Vilčinskas"
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[core]
	editor = vim
[alias]
	a = add
	b = branch
	c = commit -m
	d = diff
	f = fetch --prune
	g = grep
	l = log
	m = merge
	o = checkout
	p = pull
	r = remote
	s = status
[credential]
	helper = store
