[user]
	email = nerijus.vilcinskas@gmail.com
	name = kaktusas2598
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[alias]
	a = add
	b = branch
	c = commit
	d = diff
	g = grep
	l = log
	m = merge
	o = checkout
	p = pull
	r = remote
	s = status
