configuration {
  modes: [ combi ];
  combi-modes: [ window, drun, run ];
}


/*Use rofi-theme-selector script to preview and apply a theme*/

//@theme "/usr/share/rofi/themes/gruvbox-dark-soft.rasi"
@theme "/usr/share/rofi/themes/gruvbox-dark-hard.rasi"

window {
  transparency: "real";
  /*fullscreen: true;*/
  background-color: #282c34d0;
}

